@tailwind base; /* normalize or reset browsers styles */
@tailwind components; /* tailwind’s component classes (like buttons, cards, etc) */
@tailwind utilities;  /* Tailwind’s utility classes (like margin, padding, flexbox, etc.) */

/* Global styles for search inputs */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="search"] {
    -moz-appearance: none;
    appearance: none;
}